# SpreadJS trial / production license key.
# Copy this file to ".env.local" (which is git-ignored) and paste your key.
# Get a 30-day trial key from https://developer.mescius.com/spreadjs
# NOTE: every SpreadJS feature works WITHOUT a key — the key only removes
# the trial watermark/banner.

VITE_SPREADJS_LICENSE_KEY=
